body {
  width: 50%;
  margin: 0 auto;
  background-color: antiquewhite;
  font-family: cursive;
}

.container {
  width: 360px;
}

#itemContainer {
  /* display: flex;
  justify-content: center; */
  padding: 0 56px 6px 16px;
  line-height: 25px;
  font-family: "Dancing Script", cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.page-title {
  display: flex;
  justify-content: center;
  text-decoration: underline red;
}

#input {
  width: 300px;
  height: 30px;
  vertical-align: middle;
  justify-content: center;
}

#addToList {
  height: 36px;
  vertical-align: middle;
}

.notebook-line {
  width: 50%;
}

.lines {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

p {
  margin: 0;
}
