body {
  width: 50%;
  margin: 0 auto;
  background-color: antiquewhite;
  font-family: cursive;
}

.container {
  width: 400px;
  margin: 0 auto;
  background-color: white;
  height: 500px;
  border-radius: 10px;
}

#itemContainer {
  /* display: flex;
  justify-content: center; */
  padding: 0 56px 6px 16px;
  line-height: 25px;
  font-family: "Dancing Script", cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

.page-title {
  display: flex;
  justify-content: center;
  text-decoration: underline red;
}

#input {
  width: 300px;
  height: 30px;
  vertical-align: middle;
  justify-content: center;
  margin-top: 15px;
  margin: 0 auto;
  margin-left: 22px;
  font-family: "Dancing Script", cursive;
  font-size: 19px;
}

#addToList {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-sizing: border-box;
  color: #39739d;
  display: inline-block;
  font-family: cursive;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15385;
  /* margin: 0; */
  padding: 8px 0.8em;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  margin-top: 35px;
}

.notebook-line {
  width: 82%;
}

.lines {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
  margin-left: 22px;
}

p {
  margin: 0;
}
